    <% if edit  %>
        <% action = cat_url(cat) %>
        <% button_text = "edit" %>
    <%else%>
        <% action = cats_url %>
        <% button_text = "create a cat" %>
    <%end%>
    
<form action=<%=action%>>





</form>